.add-timezone {
  display: flex;
  margin: 2em 0 1em 0;
  padding: 1em;
}

.add-timezone-select-container,
.add-timezone-button {
  font-size: 18px;
  border: 1px solid darkblue;
  border-radius: 5px;
}

.add-timezone-select-container {
  flex-grow: 2;
}

.add-timezone-select-container .add-timezone-select__single-value {
  color: darkblue;

}


.add-timezone-button {
  background-color: aliceBlue;
  margin-left: .5em;
}
