.App {
  text-align: center;
}

.App-header {
  background-color: darkblue;
  height: 200px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.TimeZones-time {
  font-size: large;
}
