.time { font-size: 30px; margin: .8em }

.time-time,
.time-label { font-weight: bold; }

.time-label { color: #333; font-style: italic; }

.time-time,
.time-date { margin-left: .5em;}

.time-date { font-size: 24px; color: #666; }

@media (max-width: 500px) {
    .time-label,
    .time-time,
    .time-date { display: inline-block; }

}
